.contentAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  color: white;
}
.contentAboutLeft {
  width: 50%;
  height: 90%;
  position: relative;
}
.contentAboutRight {
  width: 35%;
  padding-left: 3rem;
}
.contentAboutMain {
  background-color: rgb(197, 202, 211);
  padding: 0.5rem 2rem;
  border-radius: 30px;
  text-align: center;
  color: rgb(27, 30, 35);
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow:0px 10px 39px 5px rgba(27,183,255,0.22);
  -moz-box-shadow: 0px 10px 39px 5px rgba(27,183,255,0.22);
  box-shadow: 0px 10px 39px 5px rgba(27,183,255,0.22);
 
}
.contentAboutMain:hover{
    -webkit-box-shadow:0px 10px 39px 14px rgba(27,183,255,0.26);
-moz-box-shadow: 0px 10px 39px 14px rgba(27,183,255,0.26);
box-shadow: 0px 10px 39px 14px rgba(27,183,255,0.26);
transition: 0.4s;
}
.imgAbout {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: -130px;
}
.TextAboutMain {
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: rgba(27, 183, 255, 1);
  text-decoration-thickness: 8px;
}
@media only screen and (max-width: 980px) {
.contentAbout{
  flex-direction: column;
}
.imgAbout{
  display: none;
}
.contentAboutRight{
  width: 320px;
  height: 100%;
}
.contentAboutMain{
  background: none;
  color: rgb(255, 255, 255);
  -webkit-box-shadow:0px 10px 39px 5px rgb(27, 31, 36);
-moz-box-shadow: 0px 10px 39px 5px rgb(27, 31, 36);
box-shadow: 0px 10px 39px 5px rgb(27, 31, 36); 
}
}

