@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Sarabun&display=swap");

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  color: white;
}
.contenLeft {
  width: 50%;
}
.h2ContentLeft {
  font-family: "Sarabun", sans-serif;
  font-size: 2.3rem;
}
.h1ContentLeft {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
}
.contentRight {
  width: 50%;
  height: 100%;
  position: relative;
}
.imgProfile {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: -88px;
}
.spanContentLeft {
  color: rgb(27, 184, 255);
  margin-left: 0.5rem;
}
.textContent {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 70%;
}
ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
}
.imgFacebook {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.675rem;
  padding: 0.7rem;
}
.imgInstagram, .imgYoutube,.imgGithub{
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.675rem;
  padding: 0.7rem;
}
.imgInstagram:hover, .imgYoutube:hover,.imgGithub:hover,.imgFacebook:hover{
  opacity: 0.8;
  transition: 0.4s;
}
.button {
  border: 2px solid rgb(27, 184, 255);
  border-radius: 1rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: rgb(27, 184, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.button:hover {
  background-color: rgb(27, 184, 255);
  color: rgb(27, 30, 35);
  -webkit-box-shadow: 0px 10px 39px 5px rgba(27, 183, 255, 0.22);
  -moz-box-shadow: 0px 10px 39px 5px rgba(27, 183, 255, 0.22);
  box-shadow: 0px 10px 39px 5px rgba(27, 183, 255, 0.22);
  transition: 0.4s;
}
@media only screen and (max-width: 980px) {
  .contentLeft{
    flex-direction: column;
    width: 400px;
  }
  .h1ContentLeft {
    font-size: 4rem;
  }
  .textContent {
    width: 85%;
  }
  ul {
   flex-direction: row;

  }
}
